# Server Configuration
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=eventflow

# Minio Configuration
MINIO_PORT=9000
MINIO_WEB_PORT=9001

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin